<!DOCTYPE html>
<html>
<head>
  <title>Simpsons</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header">
	<ul>
	<li><img src ="http://upload.wikimedia.org/wikipedia/ksh/a/a2/Simpsons_Logo.png"></li>
	<div class="nav">
	<li><%= link_to "Home", simpsons_path %></li>
	<li><a href= "#">About</a></li>
	</div>
	</ul>
</div>
<div class = "container">
<%= yield %>
</div>
<div class="footer">
<p>footer</p>
</div>
</body>
</html>
